<!DOCTYPE html><html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= titulo %></title>
	<link rel="favicon" type="image/x-icon" href="#">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="./style.css">
	<script defer src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>

<body>

	<img id="botao-voltar"
		src="/img/seta_voltar.svg"
		alt="VOLTAR"
		onclick="window.location.replace('/')">
