#search-box {
	position: fixed;
	top: 10px;
	right: 10px;

	width: 300px;
	height: 40px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	border: 0;
	border: 1px solid black;
	border-radius: 20px;
	background-color: aliceblue;
}

#search-box input {
	width: 76%;
	height: 80%;

	border: 0;
	background-color: transparent;
	outline: none;

	font-size: 16px;
}

#search-box img {
	height: 80%;

	margin-right: 10px;
	border: 0;
	background-color: transparent;
}

header {
	width: 100vw;
	height: 100px;
	background-color: aliceblue;
}

body {
	background-color: crimson;

	width: 100vw;
}

main {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-gap: 10px;

	max-width: 100%;
	padding: 16px;
}

@media only screen and (max-width: 1200px) {
	main {
		grid-template-columns: repeat(5,1fr);
	}
}

@media only screen and (max-width: 800px) {
	main {
		grid-template-columns: repeat(3,1fr);
	}
}

@media only screen and (max-width: 580px) {
	main {
		grid-template-columns: repeat(2,1fr);
	}
}

.card {
	background-color: aliceblue;
	border: 1px solid black;
}

.card img {
	min-width: 100%;
	min-height: 260px;
	height: 240px;
	object-fit: contain;

	border: 1px solid aliceblue;
}

.card-info {
	margin: 10px;
}